@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/gray.css';
@import '@radix-ui/colors/teal.css';

#journal-entry-input {
    width: 100%;
    min-height: 250px;
    resize: vertical; /* Allow vertical resizing */
    overflow-y: visible;
    padding: 10px; /* Add padding to the textarea */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin: 2px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

#journal-title-input {
    margin: 0;
    padding: 10px;
    border: none;
    /* Resetting font styles */
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    /* Resetting background and text color */
    background: transparent;
    color: inherit;
    /* Resetting other styles */
    appearance: none;
    outline: none;
    /* Resetting box-sizing */
    box-sizing: border-box;
    font-size: 1.7em;
    font-weight: 600;
}


